#main-map {
	height: 578px;
	width: 578px;
}

h3 {
  color: rgb(66, 184, 221);
	font-size: 170%;
	font-weight: bold;
}

button {
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background: rgb(66, 184, 221);
	font-size: 130%;
	padding: 10px 13px;
	width: 49.5%;
}
